# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Ofir\Documents\לימודים\שנה ד\סמסטר ח\WEB\תרגילי הגשה\2\Ofir.Avigad\flaskProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
